.header {
  display: flex;
  flex-flow: row;
  gap: 15px;
}

.form {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

tr {
  display: flex;
  flex-flow: row;
  gap: 20px;
  width: 100%;
}

td {
  display: flex;
  flex-flow: row;
  width: 100%;
}